---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { getAllDrops } from "@/services/drops";

const [latestDrop, ...drops] = await getAllDrops();
---

<Layout>
  <section class="bg-zinc-800 rounded">
    <a href={`/drops/${latestDrop.slug}`} class="flex items-center gap-4">
      {
        latestDrop.data.heroImage && (
          <Image
            src={latestDrop.data.heroImage.src}
            alt={latestDrop.data.heroImage.alt}
            class="rounded w-1/2"
          />
        )
      }
      <div class="flex flex-col gap-4">
        <strong class="text-neutral-400">#Drop {latestDrop.data.order}</strong>
        <h1 class="text-4xl">{latestDrop.data.title}</h1>
        <p>{latestDrop.data.description}</p>
      </div>
    </a>
  </section>
  <section class="mt-10">
    <ul>
      {
        drops.length > 0 &&
          drops.map((drop) => (
            <li>
              {drop.data.order}. {drop.data.title}
            </li>
          ))
      }
    </ul>
  </section>
</Layout>
